

<announcement-bar>
  <script id="announcement-bar-data" type="text/json">
    {
     "data": {% render 'JSON-announcement-bar' | json %}
    }
  </script>
</announcement-bar>


  <section data-section-id="{{ section.id }}" data-section-type="announcement-bar" data-settings>
      <div data-announcement-bar class="announcement-bar {% if section.blocks.size > 0 %} hidden {% endif %} color-{{ section.settings.color_scheme }} gradient" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
          {%- if section.settings.link != blank -%}
            <a href="{{ section.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
          {%- endif -%}
              <p class="announcement-bar__message h5" data-announcement-text>
                {{ section.settings.text | escape }}
              </p>
          {%- if section.settings.link != blank -%}
            </a>
          {%- endif -%}
      </div>
  </section>

  <script>
    document.documentElement.style.removeProperty('--announcement-bar-button-width');
    document.documentElement.style.setProperty('--announcement-bar-height', document.getElementById('shopify-section-{{ section.id }}').clientHeight + 'px');
  </script>


{% schema %}
{
  "name": "t:sections.announcement-bar.name",

      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Announce something here"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "background-1",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__3.label"
            },
            {
              "value": "accent-1",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__4.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__5.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.label"
        }
      ],

    "blocks": [
      {
        "type": "announcement",
        "name": "announcement",
        "settings": [
          {
            "type": "text",
            "id": "country_iso",
            "label": "Enter country ISO in 2 digits"
          },
          {
            "type": "text",
            "id": "announcement_text",
            "label": "Enter Announcement Text"
          }
        ]
      }
    ]
  
}
{% endschema %}
