{{ 'refer-a-friend.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .refer-friend-section{
        background-color: {{section.settings.background_color}};
    }
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    @media screen and (max-width: 425px) {
        .section-{{ section.id }}-padding {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
    @media screen and (max-width: 320px) {
        .section-{{ section.id }}-padding {
            padding-top: 30px;
            padding-bottom: 50px;
        }
    }
    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{%- endstyle -%}

{%- liquid 
    if customer
        assign SHOPIFY_CUSTOMER_EMAIL = customer.email
    else 
        assign SHOPIFY_CUSTOMER_EMAIL = ''
    endif
-%}

<div class="refer-friend-section color-{{ section.settings.color_scheme }} gradient">
    {% if section.settings.top_wave %}
        {% render 'wave-top-diff' class: 'wave--top', color: {{section.settings.background_color}} %}
    {% endif %}
    <div class="page-width">
        <div class="section-{{ section.id }}-padding">
            <div class="heading-sec" style="text-align: {{ section.settings.heading_alignment }}">
                <h4 class="{{ section.settings.heading_size }}">{{section.settings.heading}}</h4>
            </div>
            <div class="refer-friend-wrapper">
                <div class="refer-friend-wrapper-image">
                    {%- if section.settings.image != blank -%}
                        <img
                            srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
                                {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                                {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                                {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                                {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
                                {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
                                {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                                {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
                                {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
                            sizes="100vw"
                            src="{{ section.settings.image | image_url: width: 1500 }}"
                            loading="lazy"
                            alt="{{ section.settings.image.alt | escape }}"
                            width="{{ section.settings.image.width }}"
                            height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
                        >
                    {%- endif -%}
                </div>
                <div class="refer-friend-wrapper-info">
                    <div class="refer-friend-wrapper-info-wrap">
                        <h4 class="refer_heading">{{ section.settings.text }}</h4>
                        <span class="refer_description">{{ section.settings.description }}</span>
                        {%- if shop.customer_accounts_enabled -%}
                            {%- if customer -%}
                                    <div class="copy-text-container referral field">
                                        <input
                                            readonly="" 
                                            value=""
                                            tabindex="-1" class="text-input with-system-btn referral-url">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                            <rect x="8.5" y="2" width="18" height="24" stroke="#541686" stroke-width="2"/>
                                            <path d="M4 4.5V30.5H24" stroke="#541686" stroke-width="2" stroke-linecap="round"/>
                                        </svg>                                    
                                    </div>
                                    <p class="referral-text-copy">Copied!</p>
                                    <div class="social-media-links-section">
                                        {%- for block in section.blocks -%}
                                            <div class="social-media-list">
                                                {%- case block.type -%}
                                                    {%- when 'social_icons' -%}
                                                        <div class="social-media-content-wrapper">
                                                            <a href="{{block.settings.social_icon_link}}" target="_blank">
                                                                <div class="social-icon_svg">
                                                                    {{block.settings.social_svg_icon}}
                                                                </div>
                                                                <p class="social-media-icon-text">
                                                                    {{ block.settings.social_icon_text}}
                                                                </p>
                                                            </a>
                                                        </div>
                                                {%- endcase -%}
                                            </div>
                                        {%- endfor -%}
                                    </div>
                                {% else %}
                                    <a href="{{ section.settings.sign_up_url }}" class="sign_up">{{ section.settings.sign_up_text }}</a>
                                    <a href="{{ section.settings.log_in_url }}" class="log_in">{{ section.settings.log_in_text }}</a>
                            {%- endif -%}
                        {%- endif -%}
                    </div>                    
                </div>
                
            </div>
        </div>
    </div>
    {% if section.settings.bottom_wave %}
        {% render 'wave-bottom', class: 'wave--bottom', color: {{section.settings.background_color}} %}
    {% endif %}
</div>



<script>
    let SMILE_TOKEN = "int_dnTsZz3RZcSAkiSy5Fco";
    sessionStorage.setItem("SMILE_TOKEN", "int_dnTsZz3RZcSAkiSy5Fco");

    let SMILE_CUSTOMER;
    // Add referral code if logged in
    
    let referral_input = document.querySelector('.referral-url');

    if (`{{SHOPIFY_CUSTOMER_EMAIL}}` != "" ) {
        fetch(`https://platform.smile.io/v1/customers?email={{SHOPIFY_CUSTOMER_EMAIL}}`, {method:'GET', 
            headers: {'Authorization': 'Bearer ' + SMILE_TOKEN}})
            .then(response => response.json())
            .then(response => {
                SMILE_CUSTOMER = response.customers;
                sessionStorage.setItem("SMILE_CUSTOMER_ID", SMILE_CUSTOMER[0].id);
                referral_input.value = SMILE_CUSTOMER[0].referral_url;
            })
            .catch((e) => {
                console.error(e);
            })
    } else {
        referral_input.innerHTML = ''
    }

    // Copy to clipboard Script
    let copyText = document.querySelector(".referral");

    copyText.querySelector("svg").addEventListener("click", function () {
        let input = copyText.querySelector("input.text-input");
        input.select();
        document.execCommand("copy");
        copyText.classList.add("active");
        window.getSelection().removeAllRanges();
        document.querySelector('.referral-text-copy').style.display = 'block';
        setTimeout(function () {
            document.querySelector('.referral-text-copy').style.display = 'none';
            copyText.classList.remove("active");
        }, 2000);
    });
</script>

{% schema %}
{
    "name": "Refer a Friend",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "checkbox",
            "id": "top_wave",
            "default": false,
            "label": "Top Wave"
        },
        {
            "type": "checkbox",
            "id": "bottom_wave",
            "default": false,
            "label": "Bottom Wave"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "t:sections.collapsible_content.settings.heading.label"      
        },
        {
            "type": "select",
            "id": "heading_size",
            "options": [
                {
                    "value": "h2",
                    "label": "t:sections.all.heading_size.options__1.label"
                },
                {
                    "value": "h1",
                    "label": "t:sections.all.heading_size.options__2.label"
                },
                {
                    "value": "h0",
                    "label": "t:sections.all.heading_size.options__3.label"
                }
             ],
            "default": "h1",
            "label": "t:sections.all.heading_size.label"
        },
        {
            "type": "select",
            "id": "heading_alignment",
            "label": "t:sections.collapsible_content.settings.heading_alignment.label",
            "options": [
                {
                    "value": "left",
                    "label": "t:sections.collapsible_content.settings.heading_alignment.options__1.label"
                },
                {
                    "value": "center",
                    "label": "t:sections.collapsible_content.settings.heading_alignment.options__2.label"
                },
                {
                    "value": "right",
                    "label": "t:sections.collapsible_content.settings.heading_alignment.options__3.label"
                }
            ],
            "default": "center"
        },
        {
            "type": "select",
            "id": "title_size",
            "label": "Title Font Size",
            "options": [
                {
                    "value": "h4",
                    "label": "H4"
                },
                {
                    "value": "h5",
                    "label": "H5"
                }
            ],
            "default": "h4"
        },        
        {
            "type": "select",
            "id": "color_scheme",
            "options": [
                {
                    "value": "accent-1",
                    "label": "t:sections.collapsible_content.settings.color_scheme.options__4.label"
                },
                {
                    "value": "accent-2",
                    "label": "t:sections.collapsible_content.settings.color_scheme.options__5.label"
                },
                {
                    "value": "background-1",
                    "label": "t:sections.collapsible_content.settings.color_scheme.options__1.label"
                },
                {
                    "value": "background-2",
                    "label": "t:sections.collapsible_content.settings.color_scheme.options__2.label"
                },
                {
                    "value": "inverse",
                    "label": "t:sections.collapsible_content.settings.color_scheme.options__3.label"
                }
            ],
            "default": "background-1",
            "label": "t:sections.collapsible_content.settings.color_scheme.label"
        },
        {
            "type": "header",
            "content": "Refer a friend information"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Choose image"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "text",
            "id": "sign_up_text",
            "label": "Sign up text"
        },
        {
            "type": "url",
            "id": "sign_up_url",
            "label": "Sign up link"
        },
        {
            "type": "text",
            "id": "log_in_text",
            "label": "Log in text"
        },
        {
            "type": "url",
            "id": "log_in_url",
            "label": "Log in link"
        },
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "Sec Background Color",
            "default": "transparent"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 36
        }
    ],
    "blocks": [
        {
          "type": "social_icons",
          "name": "Social Media Links",
          "settings": [
            {
              "type": "image_picker",
              "id": "social_image_icon",
              "label": "Choose social media icon"
            },
            {
              "type": "html",
              "id": "social_svg_icon",
              "label": "Choose svg code"
            },
            {
              "type": "text",
              "id": "social_icon_text",          
              "label": "Social Media Icon Text"
            },
            {
                "type": "url",
                "id": "social_icon_link",          
                "label": "Social Media Link"
            }
          ]
        }
    ],
    "presets": [
        {
            "name": "Refer a Friend",
            "blocks": [
                {
                  "type": "social_icons"
                }
            ]
        }
    ]
}
{% endschema %}