{% comment %} {{ 'section-tolstoy.css' | asset_url | stylesheet_tag }} {% endcomment %}
{% style %}
    #tolstoy-carousel-container-{{ section.settings.publishId }}{
        margin: 0 auto;
        max-width: 100% !important;
        width: 100% !important;
    }
    .qMWqRG_playButtonContainer{
        width: 50px;
        height: 50px;
        background: #2A7DE1;
        opacity: 1 !important;
    }
    /* #tolstoy-carousel-videos-container-{{ section.settings.publishId }}{
        gap: 21px;
    }
    #tolstoy-carousel-video-container-{{ section.settings.publishId }}{
        border-radius: 0 !important;
    }
    #tolstoy-carousel-video-container-{{ section.settings.publishId }} video{
        border-radius: 0 !important;
    }
    #tolstoy-play-button-container-{{ section.settings.publishId }}{
        background: #2A7DE1;
        opacity: 1 !important;
    } */
    /* @media (max-width: 767px){
        #tolstoy-carousel-container-{{ section.settings.publishId }}{
            margin: 0 !important;
            width: 100%;
        }
    } */
    
    .tolstoy_carousel_wrapper .section_heading{
        color: #000;
        font-weight: 700;
    }
{% endstyle %}
<div class="tolstoy_carousel_wrapper" style="background: linear-gradient(0deg, {{ section.settings.section_background }} 0%, rgba(195, 231, 107, 0.00) 100%);">
    <div class="tolstoy_carousel_container page-width">
        <p class="section_heading" style="font-size: {{ section.settings.heading_font_size }}px;text-align:{{ section.settings.text_align }};">{{ section.settings.heading }}</p>
        <tolstoy-carousel
            data-tags="{% for tag in product.tags -%}{{ tag }},{%- endfor %}"
            class="tolstoy-carousel"
            id="{{ section.settings.publishId }}"
            data-publish-id="{{ section.settings.publishId }}"
            data-product-id="{{ product.id }}"
        >
        </tolstoy-carousel>
    </div>
    
</div>
{% render 'wave-bottom', color: section.settings.section_background, class: "tolstoy_section_wave" %}

<script>
    document.querySelector('.tolstoy_carousel_wrapper').style.display = 'none';
    document.querySelector('.tolstoy_section_wave').style.display = 'none';
    window.addEventListener("message", (message) => {
        if (message.data.name === "ready") {
            document.querySelector('.tolstoy_carousel_wrapper').style.display = 'block';
            document.querySelector('.tolstoy_section_wave').style.display = 'block';
        }
    })  
</script>
{% schema %} 
{ 
    "name": "Tolstoy carousel", 
    "settings": [ 
        { 
            "type": "text", 
            "id": "publishId", 
            "label": "Publish id", 
            "default": "publishId" 
        },
        {
            "type": "text",
            "id": "videos_count",
            "label": "Number of videos"
        },
        {
            "type": "range",
            "id": "videos_width",
            "label": "Width of videos",
            "min": 100,
            "max": 1000,
            "step": 20,
            "default": 240
        },
        {
            "type": "color",
            "id": "section_background",
            "label": "Section background",
            "default": "#C3E76B"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading"
        },
        {
            "type": "range",
            "id": "heading_font_size",
            "label": "Heading font size",
            "min": 10,
            "max": 100,
            "step": 1,
            "default": 40
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                }
            ]
        }
    ], 
    "presets": [
        {
            "name": "Tolstoy carousel",
            "category": "Tolstoy Sections"
        }
    ] 
}
{% endschema %}
